html,
body {
  width: 100%;
  height: 100%;
}
.aw-header {
  margin-bottom: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aw-header-app-container {
  margin-top: 150px;
  background-color: transparent;
  width: 100%;
  color: white;
}

.aw-header-name {
  position: fixed;
  color: white;
  font-weight: bold;
  font-size: 12pt;
  right: 110px;
  top: 68px;
}
.margin {
  margin: 10px;
}
.margin-lg {
  margin: 20px;
}

.margin-top {
  margin-top: 20px;
}

.margin-top-sm {
  margin-top: 10px;
}

.margin-top-lg {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 20px;
}
.margin-bottom-sm {
  margin-bottom: 10px;
}
.margin-left {
  margin-left: 20px;
}
.margin-right {
  margin-right: 20px;
}
.margin-right-sm {
  margin-right: 10px;
}
.width-100-percent {
  width: 100%;
}
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}

.label {
  color: black;
}

.aw-card-modifiable {
  background-color: rgb(255, 247, 245);
  border-top: 1px solid #ccc;
}

.aw-card-footer {
  border-top: 1px solid #ccc;
}

.btn.aw-btn-bg-white {
  background-color: #fff;
}

.image-upload {
  border-radius: 0px;
  border-width: 0px;
}

.main-background {
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  background-attachment: scroll;
  background-position: 50% 50%;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;
}

.main-background-small {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;
  animation: fadeout 1s;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aw-button {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-width: 0;
  width: 100%;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12pt;
}

.aw-form-input {
  border-width: 0;
  border-radius: 5px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: white;
  font-family: "Raleway", sans-serif;
}

.aw-color-symbol {
  width: 10px;
  display: flex;
  align-items: center;
}

.aw-activity-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  font-size: 14pt;
}
.aw-activity-list-item:hover {
  opacity: 0.5;
  color: white;
}
.aw-activity-list-item:active {
  opacity: 1;
  color: white;
}

.main-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* =============================================================================
  GENERIC FLEXBOX
============================================================================= */

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.aw-flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  z-index: 0;
}
.aw-flex-row > * {
  margin-right: 20px;
}
.aw-flex-right {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.aw-flex-column {
  display: flex;
  flex-direction: column;
}

/* =============================================================================
  ACTIVITY LIST SIDE PANEL 
============================================================================= */

.aw-activity-list-container {
  background-color: rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.aw-activity-list-header {
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 12.5px;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  margin-bottom: 1px;
}

.fa-button:hover {
  color: #363636;
  cursor: pointer;
}
.fa-button {
  margin-top: 20px;
}

.card {
  background-color: transparent;
  color: white;
}

a {
  color: white;
}
.white {
  color: white;
}

/* =============================================================================
  SESSION LIST SIDE PANEL 
============================================================================= */

.aw-session-list-container {
  height: 75vh;

  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

/* =============================================================================
  ACTIVITY TABLE  
============================================================================= */

.aw-session-list-footer {
  position: absolute;
  top: 117px;
  color: black;
  margin: 10px;
  font-size: 12pt;
  text-transform: uppercase;
}

.rt-td {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.ReactTable {
  border: 0px;
  width: 100%;
}

.ReactTable .rt-tbody {
  border-width: 10px;
  border: 10px;
  border-color: red;
}

.ReactTable .rt-thead .rt-tr {
  text-align: left;
}
.rt-tr-group {
  cursor: pointer;
}

.rt-tr-group:hover {
  color:rgba(255, 255, 255, 0.4);
}

.rt-tr-group:hover .rt-tr .rt-td .aw-color-symbol {
  opacity: 0.6;
}

.ReactTable .rt-thead.-header .rt-tr {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border: solid rgba(255, 255, 255, 0.7);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
}
.ReactTable .rt-th,
.ReactTable .rt-td {
  white-space: normal;
}
.aw-draggable-zone {
  position: absolute;
  width: 1000px;
  left: 50%;
  top: 400px;
  right: 50%;
  font-size: 20pt;
  color: white;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: 0px;
  border-top: 0px;
}

/* =============================================================================
  MODALS
============================================================================= */

.modal-card-head {
  background-color: #242423;
  color: white;
  height: 20px;
}

.modal-card-body {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-card {
  width: 1000px;
}
label.aw-numbered-label:before {
  content: attr(content);
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-right: 10px;
  background-color: #fff;
}
label.aw-numbered-label:after {
  margin-top: 7px;
}

label.aw-numbered-label {
  margin-right: 20px;
  width: 200px;
}

.aw-modal-button {
  background-color: black;
  border-radius: 5px;
  border-width: 0;
  color: white;
  height: 33px;
  font-size: 12pt;
  font-family: "Raleway", sans-serif;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
}
.aw-modal-button:hover {
  color: lightgray;
  cursor: pointer;
}

.aw-input {
  border-radius: 5px;
  border-width: 0;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.TimeInput-input {
  border-radius: 5px;
  border-width: 0;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 12pt;
  font-family: "Raleway", sans-serif;
  outline: 0;
}

.aw-input-date {
  width: 100%;
}
.select select {
  border: 0;
}
.select:after {
  border-color: black;
}

/* =============================================================================
  CREATE ACTIVITY
============================================================================= */

.aw-activity-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.aw-activity-container {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  width: 70%;
}

.photo-upload-box {
  background-color: lightgrey;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 57px;
}

.photo-upload-box-large {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.photo-upload-box-text {
  align-self: flex-end;
  margin-bottom: 5px;
}

.aw-plus-symbol {
  width: 20px;
  height: 20px;
}

.aw-text-area-outer {
  border-radius: 10px;
  width: 100%;
  background-color: white;
}

.aw-text-area-container {
  border-radius: 10px !important;
  border: 0 !important;
}
.aw-text-area-count {
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: right;
}

.aw-text-area-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 0 !important;
  padding-bottom: 0;
}

.aw-text-area {
  font-family: "Raleway", sans-serif !important;
  height: 100%;
  border-radius: 10px;
  width: 578px;
  border-width: 0;
  border: 0;
  margin-top: -15px;
  box-shadow: none;
  padding: 0;
  -webkit-box-shadow: none;
}

.aw-location-container {
  padding: 10px;
  background: white;
  border-radius: 10px;
  min-width: 463px;
  font-weight: 700;
  overflow: hidden;
}

.aw-item {
  min-width: 100px;
}

.aw-item-outer {
  width: 600px;
}

.aw-item-container {
  margin-top: 10px;
  background: white;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 700;
}

.tags {
  padding-top: 10px;
}

.tag {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  font-weight: 700;
  font-size: 12pt;
}
.tag .delete {
  margin-right: 0;
}

.aw-activity-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.aw-activity-save {
  color: white;
  background-color: #d42d7e;
}
.aw-session-save {
  background-color: #469cdd;
  color: white;
}

/* =============================================================================
  CREATE SESSION
============================================================================= */
.aw-session-date {
  width: 100%;
  font-weight: 700;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.aw-input-short {
  width: 80px;
}
.aw-input-gray {
  background-color: lightgray;
}

.aw-session-location-container {
  padding: 10px;
  background: white;
  border-radius: 10px;
  min-width: 600px;
  font-weight: 700;
  overflow: hidden;
}

.aw-additional-info {
  width: 600px;
}
