form a {
  /* margin-left: 20px; */
}

/* =============================================================================
  RESETS
============================================================================= */

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* =============================================================================
  HTML, BODY
============================================================================= */

html,
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

/* =============================================================================
  CONTENT
============================================================================= */

.content {
  position: relative;
  top: 30%;
  z-index: 1032;
  margin: 0 auto;
  /*max-width: 720 px;*/
  text-align: center;
}

.content__heading {
  margin-bottom: 24px;
  color: rgb(39, 39, 39);
  font-size: 44px;
}

.content__teaser {
  margin-bottom: 24px;
  color: rgb(89, 89, 89);
  font-size: 22px;
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: rgb(255, 60, 100);
  font-size: 22px;
  text-decoration: none;
  border: solid 4px rgb(255, 60, 100);
}

.content__cta:hover {
  color: rgb(255, 60, 100);
}

.content__cta_logout {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: rgb(255, 60, 100);
  font-size: 22px;
  text-decoration: none;
  border: solid 4px transparent;
}

.content__cta_logout:hover {
  color: white;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: white;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

/* =============================================================================
  VIDEO
============================================================================= */

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.login-buttons {
  position: fixed;
  top: 50px;
  right: 50px;
}

.footer-link {
  position: fixed;
  bottom: 50px;
  left: 50px;
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: rgb(0, 0, 0);
  font-size: 22px;
  text-decoration: none;
  border: solid 4px transparent;
}

.footer-link:hover {
  color: rgb(0, 0, 0);
}

/* =============================================================================
  HEADER
============================================================================= */

.navbar {
  background-color: transparent;
  color: white;
  height: 100px;
}
.navbar-item a,
a.navbar-item,
.navbar-link {
  font-weight: bold;
  color: white;
}

.logo {
  height: 30px;
  margin-left: 100px;
  margin-top: 60px;
  position: fixed;
}
@media (max-width: 900px) {
  .logo {
    position: fixed;
    left: 15%;
    margin-left: 0;
    margin-top: 10vh;
    height: 25px;
  }
}
@media (max-width: 500px) {
  .logo {
    position: fixed;
    left: 15%;
    margin-left: 0;
    margin-top: 7vh;
    height: 20px;
  }
}
@media (max-height: 500px) {
  .logo {
    position: fixed;
    left: 11%;
    margin-left: 0;
    margin-top: 7vh;
    height: 20px;
  }
}

/* =============================================================================
  LOGIN CONTAINER
============================================================================= */

.login-box {
  justify-content: center;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 400px;
  border-radius: 5px;
  color: white;
}

.transparent {
  background-color: transparent;
}

.aw-terms-service {
  color: white;
  font-size: 10pt;
  padding-top: 10px;
  padding-bottom: 10px;
}
.aw-terms-link {
  color: #00bbf2;
}
